/*!
 * Simply Framework
 * Copyright 2017
 */
 
html {
   font-family: sans-serif;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   font-size: 14px;
 }
body {
   margin: 0;
   font-size: 14px;
   line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
img {
    max-width: 100% !important;
    vertical-align: middle;
 }
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.o-fit-cover {
 object-fit: cover;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid black;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 15px;
}
h6,
.h6 {
  font-size: 12px;
}
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
.tjustify {
  text-align: justify;
}
.tlowercase {
  text-transform: lowercase;
}
.tuppercase {
  text-transform: uppercase;
}
.tcapitalize {
  text-transform: capitalize;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-r-25 {
  margin-right: 25px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-l-25 {
  margin-left: 25px;
}
.m-l-30 {
  margin-left: 30px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.p-25 {
  padding: 25px;
}
.p-30 {
  padding: 30px;
}
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row-marginless {
  margin-right: 0px;
  margin-left: 0px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20 {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16, .col-xs-17, .col-xs-18, .col-xs-19, .col-xs-20 {
  float: left;
}
.col-xs-20 {
  width: 100%;
}
.col-xs-19 {
  width: 95%;
}
.col-xs-18 {
  width: 90%;
}
.col-xs-17 {
  width: 85%;
}
.col-xs-16 {
  width: 80%;
}
.col-xs-15 {
  width: 75%;
}
.col-xs-14 {
  width: 70%;
}
.col-xs-13 {
  width: 65%;
}
.col-xs-12 {
  width: 60%;
}
.col-xs-11 {
  width: 55%;
}
.col-xs-10 {
  width: 50%;
}
.col-xs-9 {
  width: 45%;
}
.col-xs-8 {
  width: 40%;
}
.col-xs-7 {
  width: 35%;
}
.col-xs-6 {
  width: 30%;
}
.col-xs-5 {
  width: 25%;
}
.col-xs-4 {
  width: 20%;
}
.col-xs-3 {
  width: 15%;
}
.col-xs-2 {
  width: 10%;
}
.col-xs-1 {
  width: 5%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20 {
    float: left;
  }
 .col-sm-20 {
  width: 100%;
}
.col-sm-19 {
  width: 95%;
}
.col-sm-18 {
  width: 90%;
}
.col-sm-17 {
  width: 85%;
}
.col-sm-16 {
  width: 80%;
}
.col-sm-15 {
  width: 75%;
}
.col-sm-14 {
  width: 70%;
}
.col-sm-13 {
  width: 65%;
}
.col-sm-12 {
  width: 60%;
}
.col-sm-11 {
  width: 55%;
}
.col-sm-10 {
  width: 50%;
}
.col-sm-9 {
  width: 45%;
}
.col-sm-8 {
  width: 40%;
}
.col-sm-7 {
  width: 35%;
}
.col-sm-6 {
  width: 30%;
}
.col-sm-5 {
  width: 25%;
}
.col-sm-4 {
  width: 20%;
}
.col-sm-3 {
  width: 15%;
}
.col-sm-2 {
  width: 10%;
}
.col-sm-1 {
  width: 5%;
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20 {
    float: left;
  }
 .col-md-20 {
  width: 100%;
}
.col-md-19 {
  width: 95%;
}
.col-md-18 {
  width: 90%;
}
.col-md-17 {
  width: 85%;
}
.col-md-16 {
  width: 80%;
}
.col-md-15 {
  width: 75%;
}
.col-md-14 {
  width: 70%;
}
.col-md-13 {
  width: 65%;
}
.col-md-12 {
  width: 60%;
}
.col-md-11 {
  width: 55%;
}
.col-md-10 {
  width: 50%;
}
.col-md-9 {
  width: 45%;
}
.col-md-8 {
  width: 40%;
}
.col-md-7 {
  width: 35%;
}
.col-md-6 {
  width: 30%;
}
.col-md-5 {
  width: 25%;
}
.col-md-4 {
  width: 20%;
}
.col-md-3 {
  width: 15%;
}
.col-md-2 {
  width: 10%;
}
.col-md-1 {
  width: 5%;
}
  
  @media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18, .col-lg-19, .col-lg-20 {
    float: left;
  }
 .col-mlg-20 {
  width: 100%;
}
.col-lg-19 {
  width: 95%;
}
.col-lg-18 {
  width: 90%;
}
.col-lg-17 {
  width: 85%;
}
.col-lg-16 {
  width: 80%;
}
.col-lg-15 {
  width: 75%;
}
.col-lg-14 {
  width: 70%;
}
.col-lg-13 {
  width: 65%;
}
.col-lg-12 {
  width: 60%;
}
.col-lg-11 {
  width: 55%;
}
.col-lg-10 {
  width: 50%;
}
.col-lg-9 {
  width: 45%;
}
.col-lg-8 {
  width: 40%;
}
.col-lg-7 {
  width: 35%;
}
.col-lg-6 {
  width: 30%;
}
.col-lg-5 {
  width: 25%;
}
.col-lg-4 {
  width: 20%;
}
.col-lg-3 {
  width: 15%;
}
.col-lg-2 {
  width: 10%;
}
.col-lg-1 {
  width: 5%;
}
